ENV=prod
PORT=8000
HOST=0.0.0.0
PYTHONUNBUFFERED=True

GUNICORN__BIND=0.0.0.0:8000
GUNICORN__WORKERS=2
GUNICORN__WORKER_CLASS=uvicorn.workers.UvicornWorker
GUNICORN__TIMEOUT=30
GUNICORN__GRACEFUL_TIMEOUT=30
GUNICORN__KEEPALIVE=5
GUNICORN__ACCESS_LOG_FORMAT=%(h)s %(l)s %(u)s %(t)s "%(r)s" %(s)s %(b)s "%(D)s"
GUNICORN__ERROR_LOGFILE=-
GUNICORN__ACCESS_LOGFILE=-
GUNICORN__LOGLEVEL=warning

MAIL__SMTP_HOST=smtp.yandex.ru
MAIL__SMTP_PORT=465
MAIL__SMTP_SECURE=True
MAIL__TIMEOUT=10
MAIL__USER=user@example.ru
MAIL__PASSWORD=********
MAIL__ADMIN=admin@example.ru

CORS__ALLOWED_ORIGINS=["https://example.com"]

BOT__NOTIFY_URL=https://example.com/notify-bot/send-notification
BOT__PING_URL=https://example.com/notify-bot/ping