[project]
name = "notify-service"
version = "0.0.0"
description = ""
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "black>=25.12.0",
    "ruff>=0.14.11",
]

[tool.ruff]
line-length = 88
lint.select = ["E", "F", "I", "UP"]